<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <conversionRule conversionWord="clr" converterClass="ch.qos.logback.classic.pattern.color.HighlightingCompositeConverter"/>
    <conversionRule conversionWord="highlight" converterClass="ch.qos.logback.classic.pattern.color.HighlightingCompositeConverter"/>

    <contextName>logback</contextName>
    <property name="log.path" value="${LOG_HOME:-.}/../logs/file-service.log"/>
<!--    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5level){faint} [%thread] [%X{TRACE_ID}] %60.60logger{60} [%method,%line] : %msg%n"/>-->
<!--    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{TRACE_ID}] %highlight(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n"/>-->
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{TRACE_ID}] %highlight(%-5level) %green(%60.60logger{60} [%method,%line]) >>> %cyan(%msg) %n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.zaqbest" additivity="true" level="DEBUG" />
    <logger name="com.fusionfintrade.fileservice" additivity="true" level="DEBUG" />

    <logger name="org.springframework" additivity="true" level="INFO" />
    <logger name="org.apache.ibatis" additivity="true" level="DEBUG" />
    <logger name="org.mybatis" additivity="true" level="DEBUG" />
    <logger name="java.sql" additivity="true" level="DEBUG" />

    <logger name="org.springframework.boot.test" additivity="true" level="WARN" />
    <logger name="org.reflections" additivity="true" level="WARN" />
    <logger name="io.netty" additivity="true" level="WARN" />
    <logger name="com.alibaba.nacos" additivity="true" level="WARN" />
    <logger name="com.zaxxer.hikari" additivity="true" level="WARN" />

    <root level="INFO">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
    </root>
</configuration>